<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Page</title>
  </head>
  <body>
    <script src="js/login.js" defer></script>
    <div class="main-container">
      <h1>Login</h1>
      <form id="loginForm">
        <input id="username" type="text" placeholder="Username" required />
        <input id="password" type="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>